<!--<div>
	Title: {{input value=model.title}}
</div>
<div>
	isCompleted: {{input type='checkbox' checked=isCompleted}}
</div>
<div>
	<button {{action 'save' model}}>Save Todo</button>
</div>-->
{{#todo-editor todo=model handleRedirect='displayTodos'}}{{/todo-editor}}
